@import "../../../App.scss";

/* Album item */

.album-item {
    background: none;
    padding: 10px;

    a {
        .card-body {
            background: #fff;
            border-radius: 8px;
            padding: 0;
            height: 140px;
            position: relative;
            overflow: hidden;
            border: 1px solid #dfdfdf;

            img {
                min-width: 100%;
                min-height: 100%;
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            &:hover .overlay {
                background: rgba(0, 0, 0, 0.562);
            }
        }
    }

    @media (max-width: 576px) {
        width: 50%;
        float: left;
    }

    @media (min-width: 576px) {
        width: 33.33%;
        float: left;
    }

    @media (min-width: 768px) {
        width: 25%;
        float: left;
    }

    @media (min-width: 992px) {
        width: 20%;
        float: left;
    }

    @media (min-width: 1280px) {
        width: 16.66%;
        float: left;
    }

    @media (min-width: 1480px) {
        width: 14.28%;
        float: left;
    }
}
