@import "../../App.scss";

.home {
    // Header section
    .header {
        padding-top: 70px;
        padding-bottom: 50px;

        h1 {
            font-size: 55px;
            font-weight: 900;
            font-weight: 700;
            font-family: 'Red Rose', cursive;

            @media (min-width: 992px) {
                margin-top: 60px;
                font-size: 80px;
            }
        }

        .btn {
            padding: 8px 40px;
            border-radius: 6px;
            background: $primary;
        }

        img {
            @media (min-width: 992px) {
                max-height: 300px;
            }
        }
    }

    // Category section
    .category-section {
        padding-top: 50px;

        .category-header {
            h5 {
                font-size: 15px;
                font-weight: 700;
                letter-spacing: 3px;
                text-transform: uppercase;
                font-family: 'Red Rose', cursive;
            }

            a {
                font-size: 14px;
                font-weight: 400;
                text-decoration: none;
                color: rgb(214, 69, 86);
                font-family: 'Red Rose', cursive;
            }
        }

        @media (min-width: 992px) {
            padding-top: 100px;
        }
    }

    /* Album section */
    .album-section {
        padding-top: 50px;

        .album-header {
            h5 {
                font-size: 15px;
                font-weight: 700;
                letter-spacing: 3px;
                text-transform: uppercase;
                font-family: 'Red Rose', cursive;
            }

            a {
                font-size: 14px;
                font-weight: 400;
                text-decoration: none;
                color: rgb(214, 69, 86);
                font-family: 'Red Rose', cursive;
            }
        }

        @media (min-width: 992px) {
            padding-top: 100px;
        }
    }

    // Singer section
    .singer-section {
        padding-top: 50px;

        .singer-header {
            h5 {
                font-size: 15px;
                font-weight: 700;
                letter-spacing: 3px;
                text-transform: uppercase;
                font-family: 'Red Rose', cursive;
            }

            a {
                font-size: 14px;
                font-weight: 400;
                text-decoration: none;
                color: rgb(214, 69, 86);
                font-family: 'Red Rose', cursive;
            }
        }

        @media (min-width: 992px) {
            padding-top: 100px;
        }
    }

    // App download section
    .app-download-section {
        margin-top: 50px;
        margin-bottom: 50px;

        .content {
            h2 {
                font-weight: 700;
                text-transform: capitalize;
                font-family: 'Red Rose', cursive;

                @media (min-width: 992px) {
                    font-size: 50px;
                }
            }

            p {
                font-size: 15px;
                font-weight: 400;
                line-height: 1.8rem;
                font-family: 'Red Rose', cursive;
            }

            img {
                max-height: 400px;
            }

            @media (min-width: 992px) {
                padding-top: 90px;
            }
        }

        @media (min-width: 992px) {
            margin-top: 120px;
        }
    }
}
