/* Header */

.home .header {
    padding-top: 70px;
    padding-bottom: 50px;
}

.home .header h1 {
    font-size: 55px;
    font-weight: 900;
    font-family: redRose-bold;
}

.home .header .btn {
    padding: 8px 40px;
    border-radius: 6px;
}

@media(min-width: 992px) {
    .home .header h1 {
        margin-top: 60px;
        font-size: 80px;
    }
    .home .header img {
        max-height: 300px;
    }
}

/* Search Box */

.home .search-box .card {
    border-radius: 6px;
}

.home .search-box .card .card-body {
    padding-top: 15px;
    padding-bottom: 25px;
}

.home .search-box .card .card-body p {
    font-size: 13px;
    padding-left: 20px;
    font-family: redRose-regular;
}

.home .search-box .card .card-body .form-control {
    font-size: 13px;
    height: 38px;
    font-family: redRose-regular;
    border-radius: 25px;
    border: 0;
    padding: 23px 20px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    position: relative;
}

/* Suggest Box */

.home .search-box .card .card-body .suggest-box {
    position: absolute;
    background: #fff;
    width: 78%;
    height: 60px auto;
    z-index: 9;
    top: 85px;
    border-radius: 5px;
    cursor: pointer;
}

.home .search-box .card .card-body .suggest-box .result {
    color: rgb(68, 67, 67);
    transition: 0.3s;
    padding-top: 11px;
    padding-bottom: 11px;
}

.home .search-box .card .card-body .suggest-box .result p {
    font-size: 15px;
    margin-top: 2px;
}

.home .search-box .card .card-body .suggest-box .result:hover {
    text-decoration: none;
    background: #cfcece49 !important;
}

.home .search-box .card .card-body .suggest-box .result img {
    width: 25px;
    height: 25px;
}

@media(max-width: 576px) {
    .home .search-box .card .card-body .suggest-box {
        left: 0px;
        width: 100%;
    }
}

@media(min-width: 576px) {
    .home .search-box .card .card-body .suggest-box {
        left: 37px;
        width: 380px;
    }
}

@media(min-width: 768px) {
    .home .search-box .card .card-body .suggest-box {
        width: 560px;
    }
}

@media(min-width: 992px) {
    .home .search-box .card .card-body .suggest-box {
        width: 480px;
    }
}

@media(min-width: 1200px) {
    .home .search-box .card .card-body .suggest-box {
        width: 600px;
    }
}

/* End Suggest Box */

.home .search-box .card .card-body .form-control:focus {
    border: 0;
}

.error {
    border: 1px solid rgb(214, 69, 86) !important;
}

.home .search-box .card .card-body .btn-search {
    color: #000;
    border-radius: 6px;
    padding: 10px 8px;
    height: 46px;
    color: rgb(214, 69, 86);
}

/* Popular Songs */

.home .popular-songs {
    padding-top: 50px;
}

.home .popular-songs .cat-header h5 {
    font-size: 15px;
    letter-spacing: 3px;
    font-family: redRose-bold;
    text-transform: uppercase;
}

.home .popular-songs .cat-header a {
    font-size: 14px;
    font-family: redRose-regular;
    color: rgb(214, 69, 86);
    text-decoration: none;
}

.home .popular-songs .card {
    background: none;
    padding: 10px;
}

.home .popular-songs a .card-body {
    background: #fff;
    border-radius: 8px;
    padding: 0;
    height: 140px;
    position: relative;
    overflow: hidden;
    border: 1px solid #dfdfdf;
}

.home .popular-songs a .card-body img {
    min-width: 100%;
    min-height: 100%;
}

.home .popular-songs a .card-body .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.home .popular-songs a .card-body:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.562);
}

.home .popular-songs {
    position: relative;
}

.home .popular-songs .prev-btn {
    padding: 3px;
    position: absolute;
    top: 55px;
    left: 0;
    background: #fff;
    border: 1px solid #cfcece;
}

.home .popular-songs .next-btn {
    padding: 3px;
    position: absolute;
    top: 55px;
    right: 0;
    background: #fff;
    border: 1px solid #cfcece;
}

@media(min-width: 992px) {
    .home .popular-songs {
        padding-top: 100px;
    }
}

/* Category */

.home .categories {
    padding-top: 50px;
}

.home .categories .cat-header h5 {
    font-size: 15px;
    letter-spacing: 3px;
    font-family: redRose-bold;
    text-transform: uppercase;
}

.home .categories .cat-header a {
    font-size: 14px;
    font-family: redRose-regular;
    color: rgb(214, 69, 86);
    text-decoration: none;
}

@media(min-width: 992px) {
    .home .categories {
        padding-top: 100px;
    }
}

/* Albums */

.home .albums {
    padding-top: 50px;
}

.home .albums .cat-header h5 {
    font-size: 15px;
    letter-spacing: 3px;
    font-family: redRose-bold;
    text-transform: uppercase;
}

.home .albums .cat-header a {
    font-size: 14px;
    font-family: redRose-regular;
    color: rgb(214, 69, 86);
    text-decoration: none;
}

@media(min-width: 992px) {
    .home .albums {
        padding-top: 100px;
    }
}

/* Singer */

.home .singer {
    padding-top: 50px;
}

.home .singer .cat-header h5 {
    font-size: 15px;
    letter-spacing: 3px;
    font-family: redRose-bold;
    text-transform: uppercase;
}

.home .singer .cat-header a {
    font-size: 14px;
    font-family: redRose-regular;
    color: rgb(214, 69, 86);
    text-decoration: none;
}

@media(min-width: 992px) {
    .home .singer {
        padding-top: 100px;
    }
}

/* Download App */

.home .download-app {
    margin-top: 50px;
    margin-bottom: 50px;
}

.home .download-app .content h2 {
    font-family: redRose-bold;
    text-transform: capitalize;
}

.home .download-app .content p {
    font-size: 15px;
    line-height: 1.8rem;
    font-family: redRose-regular;
}

.home .download-app img {
    max-height: 400px;
}

@media(min-width: 992px) {
    .home .download-app {
        margin-top: 120px;
    }
    .home .download-app .content {
        padding-top: 90px;
    }
    .home .download-app .content h2 {
        font-size: 50px;
    }
}