@import "../../../App.scss";

.nav-bar {
    padding: 20px 0px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    z-index: 99;
    width: 100%;
    transition: 0.25s !important;

    .btn {
        padding: 5px;
    }

    // Menu in desktop
    .menu {
        ul {
            padding: 0;
            margin-bottom: 0;

            li {
                a {
                    font-size: 12px;
                    font-weight: 400;
                    color: #555;
                    padding: 5px 10px;
                    margin: 0px 5px;
                    letter-spacing: 2px;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: 'Red Rose', cursive;
                }
            }
        }
    }

    // Menu in mobile
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100vh;
        background: #fff;
        z-index: 999;
        padding-top: 20px;
        padding-left: 10px;
        transition: 0.6s all;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

        ul {
            li {
                list-style: none;
                padding-top: 3px;
                padding-bottom: 3px;
            }

            a {
                width: 100%;
            }
        }
    }
}

/* Navbar fixed after scroll */

.scrolled {
    position: fixed;
    animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
    from {
        transform: translateY(-5rem);
    }

    to {
        transform: translateY(0rem);
    }
}

@keyframes rotate {
    0% {
        transform: rotateY(360deg);
    }

    100% {
        transform: rotateY(0rem);
    }
}

@media (min-width: 992px) {
    .nav-bar .desktop-menu ul li {
        list-style: none;
        display: inline;
    }
}

.open-sidebar {
    left: 0 !important;
}

.hide-sidebar {
    left: -100% !important;
}
