@import "../../App.scss";

.tracks {
    .track-box {
        cursor: pointer;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dfdfdf;
    }

    p {
        color: #000;
        font-size: 13px;
        margin-top: 7px;
        font-weight: 400;
        text-transform: capitalize;
        font-family: "Red Rose", cursive;
    }
}

.search-index {
    .header {
        h1 {
            span {
                font-size: 18px;
            }
        }
    }
}
