@import "~bootstrap/scss/bootstrap";

$primary: rgb(214, 69, 86);
$secondary: #555;
$muted: #dfdfdfc9;
$dashboard-primary: #ff5733;

/* Flex Box */

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.flex-column {
    -ms-flex-direction: column !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: column !important;
}

.container {
    @media (min-width: 1480px) {
        max-width: 1400px;
    }
}

.container {
    @media (min-width: 1550px) {
        max-width: 1480px;
    }
}

// @font-face {
//     font-family: redRose-light;
//     src: url('./assets/fonts/RedRose-Light.ttf');
// }

// @font-face {
//     font-family: redRose-regular;
//     src: url('./assets/fonts/RedRose-Regular.ttf');
// }

// @font-face {
//     font-family: redRose-bold;
//     src: url('./assets/fonts/RedRose-Bold.ttf');
// }

// .text-unique {
//     color: rgb(214, 69, 86);
// }

// /* Navbar */

// /* End Navbar */

// /* Another Pages */

// .index .header {
//     padding-top: 50px;
//     padding-bottom: 50px;
//     position: relative;
// }

// .index .header h1 {
//     letter-spacing: 4px;
//     text-transform: uppercase;
//     font-family: redRose-bold;
// }

// .index .header p {
//     font-size: 17px;
//     font-family: redRose-regular;
// }

// @media(max-width: 768px) {
//     .index .header h1 {
//         font-size: 30px;
//     }
// }

// @media(min-width: 992px) {
//     .index .header {
//         padding-top: 100px;
//         padding-bottom: 100px;
//     }
// }

// /* card */

// .index .card {
//     width: 50%;
//     background: none;
//     text-align: center;
// }

// .index .card a:hover {
//     text-decoration: none;
// }

// .index .card a p {
//     color: #555;
//     font-size: 14px;
//     margin-top: 5px;
//     text-transform: capitalize;
//     font-family: redRose-regular;
// }

// .index .card a .card-body {
//     height: 170px;
//     border-radius: 6px;
//     background: #fff;
//     overflow: hidden;
//     padding: 0;
// }

// .index .card a .card-body img {
//     min-width: 100%;
//     min-height: 100%;
// }

// .index .card a p {
//     color: #555;
//     margin-bottom: 0;
//     font-family: redRose-regular;
// }

// @media(max-width: 576px) {
//     .index .card {
//         width: 50%;
//         float: left;
//     }
// }

// @media(min-width: 576px) {
//     .index .card {
//         width: 33.33%;
//         float: left;
//     }
// }

// @media(min-width: 768px) {
//     .index .card {
//         width: 33.33%;
//         float: left;
//     }
// }

// @media(min-width: 992px) {
//     .index .card {
//         width: 25%;
//         float: left;
//     }
// }

// @media(min-width: 1280px) {
//     .index .card {
//         width: 20%;
//         float: left;
//     }
// }

// /* End Another Pages */

// /* Player */

// .rhap_container {
//     width: 100%;
//     position: fixed;
//     left: 0;
//     bottom: 0;
// }
